# Pharmaceutical Reviews - 01 - Data Import and Cleaning

Review Source:


UCI Machine Learning Repository. [Drug Review Dataset (Drugs.com) Data Set.](https://archive.ics.uci.edu/ml/datasets/Drug+Review+Dataset+%28Drugs.com%29) (2018)

*Original Sources:*

Surya Kallumadi<br>
Kansas State University<br>
Manhattan, Kansas, USA<br>
surya '@' ksu.edu<br>

Felix Gräßer<br>
Institut für Biomedizinische Technik<br>
Technische Universität Dresden<br>
Dresden, Germany<br>
felix.graesser '@' tu-dresden.de<br>

## Introduction

In this study, I will observe trends and clusters related to pharmaceutical reviews within a dataset. First, I begin by importing the data and cleaning it below.

## Data Import & Cleaning

#### Data Import

In [1]:
#imports necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
 #imports data as a dataframe

file_path = '../data/drugsCom_raw.tsv'

reviews = pd.read_csv(file_path, delimiter= '\t')

#### Preliminary Analysis

In [3]:
reviews.head() #displays top 5 rows of dataframe

,Unnamed: 0,drugName,condition,review,rating,date,usefulCount
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9.0,"May 20, 2012",27
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8.0,"April 27, 2010",192
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5.0,"December 14, 2009",17
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8.0,"November 3, 2015",10
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9.0,"November 27, 2016",37

In [4]:
reviews.shape

(161297, 7)

There are more than 161,000 rows, or reviews in this dataset.

I will explore each column.

##### Unnamed: 0

I was not expecting to see this column, as the dataset description only reports 6 columns. I will likely delete it, but I will first learn more.

In [5]:
reviews['Unnamed: 0'].nunique() #displays number of unique values in this column

161297

It apperas that each row has a unique number, which is recorded in this column. This could be useful for later.

In [6]:
reviews['Unnamed: 0'].describe() #shows a statistical summary for the column

count    161297.000000
mean     115923.585305
std       67004.445170
min           2.000000
25%       58063.000000
50%      115744.000000
75%      173776.000000
max      232291.000000
Name: Unnamed: 0, dtype: float64

There do not appear to be any negatives or otherwise problematic numbers within this column.

I will test to see what sorting the rows by this attribute does to the appearance of the dataset.

In [7]:
reviews.sort_values('Unnamed: 0', inplace = True) #sorts the dataframe by the Unnamed 0 column

reviews.head(10) #displays top 10 rows of dataframe

,Unnamed: 0,drugName,condition,review,rating,date,usefulCount
93135,2,Medroxyprogesterone,Amenorrhea,"""I&#039;m 21 years old and recently found out ...",10.0,"October 27, 2015",11
143331,3,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I have been on the shot 11 years and until a ...",8.0,"October 27, 2015",7
57030,4,Medroxyprogesterone,Birth Control,"""Ive had four shots at this point. I was on bi...",9.0,"October 26, 2015",12
106347,5,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I had a total of 3 shots. I got my first one ...",1.0,"October 25, 2015",4
37769,7,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I&#039;m 18 and got this for heavy bleeding. ...",5.0,"October 22, 2015",6
65902,8,Medroxyprogesterone,Abnormal Uterine Bleeding,"""Im 19 and have been having heavy and painful ...",5.0,"October 21, 2015",2
69323,9,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I&#039;m a 30 year old woman. I got the shot ...",2.0,"October 21, 2015",5
74419,10,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I&#039;m 17 years old and I got shot in Augus...",7.0,"October 20, 2015",2
157476,12,Medroxyprogesterone,Abnormal Uterine Bleeding,"""First month was awesome. Absolutely wonderful...",3.0,"October 18, 2015",7
90745,14,Medroxyprogesterone,Birth Control,"""I started the Depo shot a year ago. Originall...",2.0,"October 17, 2015",7

The rows now appear to be by in order by drug name and date. I will leave the order as-is, reset the index, and delete the Unnamed: 0 Column.

In [8]:
reviews = reviews.reset_index()

reviews.head(10)

,index,Unnamed: 0,drugName,condition,review,rating,date,usefulCount
0,93135,2,Medroxyprogesterone,Amenorrhea,"""I&#039;m 21 years old and recently found out ...",10.0,"October 27, 2015",11
1,143331,3,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I have been on the shot 11 years and until a ...",8.0,"October 27, 2015",7
2,57030,4,Medroxyprogesterone,Birth Control,"""Ive had four shots at this point. I was on bi...",9.0,"October 26, 2015",12
3,106347,5,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I had a total of 3 shots. I got my first one ...",1.0,"October 25, 2015",4
4,37769,7,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I&#039;m 18 and got this for heavy bleeding. ...",5.0,"October 22, 2015",6
5,65902,8,Medroxyprogesterone,Abnormal Uterine Bleeding,"""Im 19 and have been having heavy and painful ...",5.0,"October 21, 2015",2
6,69323,9,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I&#039;m a 30 year old woman. I got the shot ...",2.0,"October 21, 2015",5
7,74419,10,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I&#039;m 17 years old and I got shot in Augus...",7.0,"October 20, 2015",2
8,157476,12,Medroxyprogesterone,Abnormal Uterine Bleeding,"""First month was awesome. Absolutely wonderful...",3.0,"October 18, 2015",7
9,90745,14,Medroxyprogesterone,Birth Control,"""I started the Depo shot a year ago. Originall...",2.0,"October 17, 2015",7

In [9]:
#drops index column

reviews = reviews.drop(columns = ['index', 'Unnamed: 0'])

reviews.head()

,drugName,condition,review,rating,date,usefulCount
0,Medroxyprogesterone,Amenorrhea,"""I&#039;m 21 years old and recently found out ...",10.0,"October 27, 2015",11
1,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I have been on the shot 11 years and until a ...",8.0,"October 27, 2015",7
2,Medroxyprogesterone,Birth Control,"""Ive had four shots at this point. I was on bi...",9.0,"October 26, 2015",12
3,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I had a total of 3 shots. I got my first one ...",1.0,"October 25, 2015",4
4,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I&#039;m 18 and got this for heavy bleeding. ...",5.0,"October 22, 2015",6

Now the rows are in a more ordered format, and the extra column is gone. The remaining 6 are those reported in the dataset description.  I will move on to observe these.

##### Drug name

This column name contains an uppercase letter. I will revise the column name for ease of use.

In [10]:
reviews.rename({'drugName': 'drug'}, axis = 1, inplace = True) #changes this column name to "drug"

reviews.columns #displays revised list of columns

Index(['drug', 'condition', 'review', 'rating', 'date', 'usefulCount'], dtype='object')

Now I will investigate further, beginning with the number of unique drug names within the dataset.

In [11]:
reviews.drug.isnull().sum() #shows number of missing values in this column

0

There are no missing values, however there may be values entered as "missing," "removed," "redacted," and so forth. I will assess for this by observing the value counts below.

In [12]:
reviews.drug.value_counts()

Levonorgestrel                       3657
Etonogestrel                         3336
Ethinyl estradiol / norethindrone    2850
Nexplanon                            2156
Ethinyl estradiol / norgestimate     2117
                                     ...
D3                                      1
Sucroferric oxyhydroxide                1
Nutraplus                               1
Purinethol                              1
Privigen                                1
Name: drug, Length: 3436, dtype: int64

Typically, "removed," "missing," "redacted" and so forth are among the most common when utilized. So far, I see no evidence of this here. 

I will check to see how many drugs there are in the dataset.

In [13]:
reviews.drug.nunique() #shows the number of drug names

3436

There are 3,436 unique drug names.

In [14]:
reviews.drug.dtypes #shows the datatype of this column

dtype('O')

Object is the appropriate datatype.

I see no additional issues in this column, and will move on to the next.

##### Condition

There are no issues with the column name itself. I will observe for null values.

In [15]:
reviews.condition.isnull().sum()

899

In [16]:
899 / 161297 * 100 #shows the percent of total values that are missing

0.5573569254232875

Less than 1% of values are missing from this column. I could impute these with "Unspecified."

First, however, I will move on to observe the number of unique conditions in the dataset.

In [17]:
reviews.condition.value_counts()

Birth Control                                   28788
Depression                                       9069
Pain                                             6145
Anxiety                                          5904
Acne                                             5588
                                                ...
Tuberculosis, Active                                1
110</span> users found this comment helpful.        1
121</span> users found this comment helpful.        1
62</span> users found this comment helpful.         1
Aspergillosis, Aspergilloma                         1
Name: condition, Length: 884, dtype: int64

Some of the least common entries, at the bottom with 1 count each, do not in fact appear to be conditions at all. 

I may later change these to "Unspecified" if needed..but before I change anything, I will observe the number of conditions represented in the dataset.

In [18]:
reviews.condition.nunique()

884

There are 884 unique conditions within the dataset. 

Due to the large number I am unlikely to one-hot encode these. If I utilize this column, it will likely only be the most frequently represented conditions.

I will fill in the null values with "Unspecified," then move on.

In [19]:
#fills in missing values in this column with "Unspecified"

reviews.condition.replace(np.nan, 'Unspecified', inplace = True) 

reviews.condition.value_counts() #shows revised value counts

Birth Control                  28788
Depression                      9069
Pain                            6145
Anxiety                         5904
Acne                            5588
                               ...
Hypercalcemia                      1
Joint Infection                    1
Ehrlichiosis                       1
Q Feve                             1
Aspergillosis, Aspergilloma        1
Name: condition, Length: 885, dtype: int64

In [20]:
reviews.loc[reviews['condition'] == 'Unspecified'] #displays truncated list of rows with "Unspecified" condition

,drug,condition,review,rating,date,usefulCount
267,Medroxyprogesterone,Unspecified,"""I started receiving the deposit injection 6 w...",8.0,"July 13, 2015",4
329,Medroxyprogesterone,Unspecified,"""I literally received this shot a few days ago...",2.0,"February 21, 2014",15
392,Medroxyprogesterone,Unspecified,"""I only got the shot once, I gained 15 pounds ...",2.0,"December 17, 2012",5
416,Medroxyprogesterone,Unspecified,"""I loved how convenient the shot was and how c...",6.0,"May 18, 2012",2
421,Medroxyprogesterone,Unspecified,"""I went on this birth control because I wanted...",3.0,"April 21, 2012",7
...,...,...,...,...,...,...
159592,Lurasidone,Unspecified,"""I ended up in the ER three days after startin...",1.0,"July 25, 2011",21
159685,Lurasidone,Unspecified,"""Latuda {120mg.} made me VERY RESTLESS couldn&...",1.0,"April 4, 2017",4
160180,Bepotastine,Unspecified,"""I just started using these eyedrops. My aller...",3.0,"January 4, 2012",0
160377,Milnacipran,Unspecified,"""I have been taking Savella for about a week n...",8.0,"April 29, 2011",3
160447,Milnacipran,Unspecified,"""In the past 10 yrs. I&#039;ve had L-4/5 back ...",3.0,"November 28, 2009",7

It appears that the change was made.

I see no further issues. I will move on to observe the next column.

##### Review

I will remove stop words, make words lower case and so on by making this column into its own dataframe during EDA. For now, I will simply check for null values.

In [21]:
reviews.review.isnull().sum()

0

All rows contain seem to contain a review. I will check the value counts to see if any are "missing," "removed," or so on.

In [22]:
reviews.review.value_counts()

"Good"                                                                                                                                                                                                                                 33
"Great"                                                                                                                                                                                                                                20
"Good."                                                                                                                                                                                                                                18
"Very good"                                                                                                                                                                                                                            16
"Great."                                                                                                                                                                                                                               14
                                                                                                                                                                                                                                       ..
"I took this and a couple of weeks later had to have an endoscopy due to severe abdominal pain.  It contains sucralose, so if you are allergic to that, look out. I would not recommend it to anyone who has a sensitive stomach. "     1
"While it did the job the taste was TERRIBLE!  I tried breaking it down into even portions and using the chaser but even that didn&#039;t help. Hope I don&#039;t have to go through this again any time soon!"                         1
"Taste not bad.  Better than the old product, a little stomach discomfort but overall it&#039;s good."                                                                                                                                  1
"I tasted the suprep this morning an in-service - doesn&#039;t taste the best in the world, but I can drink a small amount of almost anything. Much better than the 1/2 gallon or the FULL GALLON as I took for my prep. "              1
"Every time I have had a sinus infection and been prescribed Augmentin 875  I feel so much better within a day or two"                                                                                                                  1
Name: review, Length: 112329, dtype: int64

Typically, when removed/missing/redacted, e.t.c. values are present within a column, they are among the most common. This has not occurred here, so at the moment, it appears there are no rows with missing reviews.

I will move on to the next column.

##### Rating

In [25]:
reviews.rating.isnull().sum()

0

There are no missing values in this column.  The values appear to be ordinal, perhaps ranging from 1-10. I will observe.

In [26]:
reviews.rating.unique() #shows unique values in this column

array([10.,  8.,  9.,  1.,  5.,  2.,  7.,  3.,  4.,  6.])

It does in fact to be an ordinal system ranging from 1- 10.

I will observe the value counts.

In [27]:
reviews.rating.value_counts()

10.0    50989
9.0     27531
1.0     21619
8.0     18890
7.0      9456
5.0      8013
2.0      6931
3.0      6513
6.0      6343
4.0      5012
Name: rating, dtype: int64

It appears that a rating of 10.0 is the most common. I will observe mean, median, and more in a statistical summary of this column below.

In [28]:
reviews.rating.describe()

count    161297.000000
mean          6.994377
std           3.272329
min           1.000000
25%           5.000000
50%           8.000000
75%          10.000000
max          10.000000
Name: rating, dtype: float64

The mean rating is 6.99, and the median is 8.0. As mentioned, values range from 1-10.

I see no issues with this column, and will move on to the next.

##### Date

It is unlikely that I will use this column. However, it might be worthwhile to note a date range.

Below, I will re-display the top rows of the dataframe.

In [29]:
reviews.head()

,drug,condition,review,rating,date,usefulCount
0,Medroxyprogesterone,Amenorrhea,"""I&#039;m 21 years old and recently found out ...",10.0,"October 27, 2015",11
1,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I have been on the shot 11 years and until a ...",8.0,"October 27, 2015",7
2,Medroxyprogesterone,Birth Control,"""Ive had four shots at this point. I was on bi...",9.0,"October 26, 2015",12
3,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I had a total of 3 shots. I got my first one ...",1.0,"October 25, 2015",4
4,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I&#039;m 18 and got this for heavy bleeding. ...",5.0,"October 22, 2015",6

As shown above and here again, it appears that the dates are listed in descending order. I will observe the last rows of the dataframe.

In [30]:
reviews.tail()

,drug,condition,review,rating,date,usefulCount
161292,Amoxicillin / clavulanate,Sinusitis,"""Don&#039;t ever use this, \r\nWhen I was 4 ye...",1.0,"June 29, 2017",8
161293,Amoxicillin / clavulanate,Sinusitis,"""For acute maxillary sinusitis. Day two, just ...",9.0,"June 21, 2017",14
161294,Amoxicillin / clavulanate,Urinary Tract Infection,"""I took Amox Clav 2x day for 7 days for my uri...",4.0,"June 17, 2017",2
161295,Amoxicillin / clavulanate,Otitis Media,"""Day 1 - serious pain and diminished hearing i...",1.0,"June 16, 2017",0
161296,Amoxicillin / clavulanate,Sinusitis,"""Every time I have had a sinus infection and b...",10.0,"June 16, 2017",28

I might have expected to see dates prior to 2015 at the bottom, as the values first appeared to be in descending order.

I will check the values by ascending and descending order by date to observe further.

In [31]:
reviews.sort_values('date', ascending = True).head()

,drug,condition,review,rating,date,usefulCount
31047,Ramipril,High Blood Pressure,"""I have used altace for 5 yrs now and have fou...",9.0,"April 1, 2008",130
83403,Testosterone,"Hypogonadism, Male","""I&#039;m a 35 year old male and I had no idea...",9.0,"April 1, 2008",357
155374,Depakote ER,Epilepsy,"""After trying 4 different meds this one was th...",8.0,"April 1, 2008",15
146651,Carisoprodol,Muscle Spasm,"""I take Carisoprodol. It helps a good deal wi...",9.0,"April 1, 2008",11
40473,Acetaminophen / hydrocodone,Pain,"""Worked better than Tylenol w/codeine #3 and C...",10.0,"April 1, 2008",19

It appears that the earliest dates are in 2008. I will check the values in descending order to ascertain how late the values go.

In [32]:
reviews.sort_values('date', ascending = False).head()

,drug,condition,review,rating,date,usefulCount
86275,Skyla,Birth Control,"""This will be graphic so you can know what cou...",5.0,"September 9, 2017",5
99431,Etonogestrel,Birth Control,"""I&#039;ve had nexplanon for 10 months at firs...",3.0,"September 9, 2017",4
138005,Depo-Provera,Abnormal Uterine Bleeding,"""I started on the shot in May of 2017. The wh...",1.0,"September 9, 2017",11
49666,Levora,Birth Control,"""When I moved in March the new pharmacy carrie...",6.0,"September 9, 2017",1
2591,Fioricet,Headache,"""I have had a pounding throbbing migraine for ...",10.0,"September 9, 2017",9

It appears that the latest dates are in 2017.

Again, I am unlikely to use this column for modeling. Furthermore, any differences in reporting due to the date (month or year) of reporting are beyond the scope of this project. 

This dataset appears to consist of reviews written between the years of 2008 and 2017. No additional information is needed from this column, as observation for any differences that may exist pertaining date of report (month or year) are beyond the scope of this project.

I will remove this column below.

In [33]:
reviews = reviews.drop(columns = ['date']) #removes the date column

reviews.head() #displays revised top 5 rows of dataframe

,drug,condition,review,rating,usefulCount
0,Medroxyprogesterone,Amenorrhea,"""I&#039;m 21 years old and recently found out ...",10.0,11
1,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I have been on the shot 11 years and until a ...",8.0,7
2,Medroxyprogesterone,Birth Control,"""Ive had four shots at this point. I was on bi...",9.0,12
3,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I had a total of 3 shots. I got my first one ...",1.0,4
4,Medroxyprogesterone,Abnormal Uterine Bleeding,"""I&#039;m 18 and got this for heavy bleeding. ...",5.0,6

The date column has been dropped. I will now move on to observe the final column.

##### Useful Count

It may be of interest to observe the correlation between ratings and useful count during EDA, and/or connection between the useful count and sentiment score. I will keep this column in the dataset.

However, I will make the "C" lowercase in order to facilitate use of this column.

In [34]:
reviews.rename({'usefulCount': 'usefulcount'}, axis = 1, inplace = True) #makes column name lowercase

reviews.columns #shows revised list of columns

Index(['drug', 'condition', 'review', 'rating', 'usefulcount'], dtype='object')

The change has been made. I will now observe for null values.

In [35]:
reviews.usefulcount.isnull().sum()

0

There are no missing values. I will check for the number of unique values in this column.

In [36]:
reviews.usefulcount.nunique()

389

There are 389 unique numbers within the observe a statistical summary for more information concerning the numbers within.

In [37]:
reviews.usefulcount.describe()

count    161297.000000
mean         28.004755
std          36.403742
min           0.000000
25%           6.000000
50%          16.000000
75%          36.000000
max        1291.000000
Name: usefulcount, dtype: float64

There are no negative numbers or other issues. The minimum value is 0, while the maximum value is 1291. It may be of interest to observe which reviews have the highest scores during EDA.

For now, I will check to see that this column has an appropriate datatype.

In [38]:
reviews.usefulcount.dtypes

dtype('int64')

As suspected, the datatype is integer.

There are no issues with this column. As I have reached the end of the dataset, I will save the clean dataframe as a CSV to prepare for EDA in the next notebook.

In [39]:
reviews.to_csv('../data/drugsCom_CLEAN.csv', index = False)